///header//

.card-height{
  height: 620px;
}

.ingForm-padding{
  padding: 0 33px;
}

.text-left{
  text-align: left;
}

.line-length{
  width: 74%;
  margin-left: 33px;
}

.line-lengthS{
  width: 23%;
  margin-left: 32px;
  margin-right: 44px;
}

.line-lengthT{
  width: 23%;
  margin-left: 0px;
}

.controlS-label{
  display: block;
  margin: 0;
  margin-top: 8px;
}


.card-header-size{
  width: 400px;
}
