.codeT{
    width: 50px;
}
.nomT{
    width: 280px;
    min-width: 170px;

}
.catT{
    width: 80px;

}
.servT{
    width: 70px;

}
.costT{
    width: 70px;

}
.line{
    width: 20px;
}

.cmpT{
    width: 10px;

}

.porcT{
    width: 60px;
}
.mbcT{
    width: 10px;
}

.psiT{
    width: 80px;
}

.pvpT{
    width: 70px;
}

.mejT{
    width: 70px;
}

.pvpT{
    width: 70px;
}

.editT{
    width: 40px;
}

.moreT{
    width: 40px;
}


////////


.codeTD{
}
.nomTD{
}
.catTD{

}
.servTD{

}
.costTD{

}
.lineD{
    border-left: 1px solid rgba(0, 0, 0, 0.105);
}

.cmpTD{
    font-weight: bold;
}

.porcTD{
    font-size: 12px;

}
.mbcTD{
    font-weight: bold;

}

.psiTD{
    font-weight: bold;
}

.pvpTD{
    font-weight: bold;

}

.mejTD{
    font-size: 12px;

}

.pvpTD{
    font-weight: bold;
    color: rgb(189, 24, 24);

}


.editTD{

}

.moreTD{

}

///header//

