.codeT{
    min-width: 50px;
}
.artT{
    min-width: 220px;
}
.catT{
    min-width: 100px;

}
.aproT{
    min-width: 100px;

}
.uinvT{
    min-width: 60px;

}
.precT{
    min-width: 80px;

}
.line{
    min-width: 30px;
}

.ufbrT{
    min-width: 60px;
}
.cosT{
    min-width: 80px;
}

.editT{
    width: 40px;
}

.moreT{
    width: 40px;
}

////////


.codeTD{

}
.artTD{
   
}
.catTD{

}
.aproTD{

}
.uinvTD{

}
.precTD{
    font-weight: bold;

}
.lineD{
    border-left: 1px solid rgba(0, 0, 0, 0.105);

}
.ufbrTD{
    
}
.cosTD{
    font-weight: bold;

}

.editTD{
}

.moreTD{

}

///header//
  
  
