.imgT{
    width: 100px;
  }
  
  
  .tipeT{
   width: 150px;
  }
  
  .nombreT{
  
  }
  
  
  
  .editT{
    width: 40px;
  }
  
  .moreT{
    width: 40px;
  }
  
  
  .imgTD{
    img{
      border:1px solid black;
      width: 45px;
      height: 45px;
      display: block;
    }
  }
  ////////
  
  